/* Color of heading and paragraphs (and image resizing) */

.monitor {
	max-width: 10%;
}


h1 {
  background-color: rgb(0, 128, 128);
  color: hsl(180°, 100%, 25%);
  padding: 40px;
  text-align: center;
}


h5 {
	color: #552586;
}

p {
	color: #552586;
}

body {
	background-color: #F6BE00;
}

